//- index.jade
doctype html
html(lang='ja')
  head
    title test
    link(rel='stylesheet' type='text/css' href='css/cssrefresh.css')
    link(rel='stylesheet' type='text/css' href='css/style.css')
  body
    include ./includes/menu.jade
    container
      include ./includes/cover.jade
      include ./includes/experience.jade
      include ./includes/skills.jade
      include ./includes/contact.jade
