//- index.jade
doctype html
html(lang='ja')
  head
    title test
    style(link='style/style.css')
  body
    include ./includes/menu.jade
    container
      article
        h1 Name
      article
        h1 Education
      article
        h1 Skills
      article
        h1 Contact
