//- contact.jade
wrapper#contact
  article
    h1 Contact
    img(src="images/mail.png")
    a(href="https://www.facebook.com/nagisa.yata")
      span.icon-facebook2
    a(href="https://github.com/nyata/")
      span.icon-github
