//- experience.jade
wrapper#experience
  article
    h1 Experience
    ul
      li 1992.5 誕生
      li 2008.4 国立石川工業高等専門学校電子情報工学科入学
      li 2013.3 国立石川工業高等専門学校電子情報工学科卒業
      li 2013.4 お茶の水女子大学理学部情報科学科3年次編入
      li 2013.9 株式会社エウレカでエンジニアとしてインターンを始める(~2015.8)
      li 2014.8 GoogleでSTEPインターンシップに参加(2ヶ月間)
      li 2015.3 お茶の水女子大学理学部情報科学科卒業
      li 2015.4 お茶の水女子大学人間文化創成科学研究科理学専攻情報科学コース入学
      li 2015.8 Googleでソフトウェアエンジニアインターンシップに参加(3ヶ月間)
      li 2015.10 バーギシェヴッパタール大学に英語を勉強しに留学(4ヶ月間)
      li 2017.3 お茶の水女子大学人間文化創成科学研究科卒業予定
