//- includes/menu.jade
nav
  ul
    li#menu-cover.hexagon Cover
    li#menu-experience.hexagon Experience
    li#menu-project.hexagon Project
    li#menu-skill.hexagon Skill
    li#menu-contact.hexagon Contact
