//- contact.jade
wrapper#project
  article
    h1 Project
    ul
      li <a href="https://goo.gl/xTh7iF" target="brank">首の運動に伴う顔の回転アニメーションの描画補助手法に関する研究(java, opengl/ 2014~2015年卒業研究)</a>
      li <a href="http://nyata.webcrow.jp/db/" target="brank">Donut Browser ドーナツ写真アップロードサービス(PHP, JS, MySQL, HTML, CSS/ 2013年データベース授業自由課題)</a>
      li 目標達成お手伝いWebアプリ(PHP, CSS, HTML, MySQL/ 2011年8月インターンシップ)
