//- contact.jade
wrapper#project
  article
    h1 Project
    ul
      li 首の運動に伴う顔の回転アニメーションの描画補助手法に関する研究(java, opengl)
      li 目標達成お手伝いWebアプリ(PHP, CSS, HTML, MySQL/ 2011年8月インターンシップ)
      li Donut Browser ドーナツ写真アップロードサービス(PHP, JS, MySQL, HTML, CSS/ 2013年データベース授業自由課題)
